body{
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	word-spacing:4px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#252B48;
	text-shadow: 2px 2px 5px #5faeb6;
}
legend{
    font-weight: bold;
    font-size: 24px;
}
b{
    font-size: 25px;
}

legend, fieldset{
	border:5px solid #5faeb6 ;
    border-radius: 15px;
	color:#102C57;
	background-color:#CACDD3;
	padding:10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(182, 220, 249) 0%, rgba(166,239,253,1) 90.1% );
    
}
p{
    font-size: 24px;
    color: #102C57;
    text-align: justify;
    text-indent: 30px;
}
ul{
    list-style-type:disc;
}
li{
    font-family: calibri;
    font-size: 24px;
}
.kursor{
    text-decoration: none;
    float: right;
}
img{
    filter: grayscale(0);
    float: left;
    width: 25%;
    
}

img:hover{
    filter: grayscale(50%);
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #1B7895;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }