body{
    background-color: #1B7895;
}

a:link, a:visited{
    border-radius: 5%;
    font-size: 30px;
	font-weight:bold;
	text-decoration:none;
	color:#A1CCD1;
	padding:3px;
}
a:hover{
	border-radius: 5%;
    font-weight:bold;
	text-decoration:none;
	color:#1B7895;
	border:4px dotted black;
	background-color:#A1CCD1;
}