body{
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
}
h1{
    font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	word-spacing:4px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#252B48;
	text-shadow: 2px 2px 5px #5faeb6;
}
table, th, td{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
th{
    background-color: #337CCF;
}
td{
    background-color: #A1CCD1;
}