body{
    background-color:#A1CCD1 ;
}
a:link, a:visited{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #102C57;
    text-decoration: none
}
fieldset, legend{
    font-weight: bold;
    font-size: 27px;
    border-style: hidden;
}
b{
    text-shadow: #A1CCD1;
    font-family: calibri;
    font-size: 30px;
    text-align: center;
    padding-left: 25px;
}
a:hover{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
li{
    font-size: 22px;
}